[disable]

disable =
	unused-argument,
	missing-docstring,
	too-many-public-methods,
	redundant-unittest-assert,
	duplicate-code

good-names =
	nl,
	r,
    g,
    b,
	f,
	w,
	t,
	ip,
	nanoleafapi/discovery,
	nanoleafapi/nanoleaf,
	nanoleafapi/digital_twin

